
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    #autocomplete-search {
        width: 100%;
        min-width: 0;
        .wrapper {
            
            .search {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                
                input {
                    flex: 1;
                    max-width: 300px;
                    min-width: 70px;
                }
                button {
                    flex: 1;
                    max-width: 300px;
                    min-width: 70px;
                }
            }
            .result {
                #result-box {

                }
            }
        }
    }
    #weather-output {
        position: relative;
        width: 1000px;
        height: auto;
        .root {

            .wrapper {

                .inner-one {
                    .main-info {
                        display: flex;
                        flex-wrap: wrap-reverse;
                        width: 100%;
                        height: 300px;
                        .main-info-visual {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            flex: 1;
                            height: 300px;

                            
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .main-info-data {
                            flex: 1;
                            text-align: right;
                        }
                    }
                    .time-line {
                        display: flex;
                        flex-wrap: wrap;

                        width: 100%;                //upravit. aby to pri mensich rozlisenich bylo lepsi
                        height:fit-content;
                        position: relative;
                        

                        div {              
                            height: 80px;
                            flex: 1 1 auto;
                            padding: 3px;
                        }
                    }
                }
                .inner-two {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: stretch;

                    gap: 10px;
                    width: 100%;
                    height: 160px;
                }
            }
        }
    }
    @media (max-width: 600px) {
        .main-info {
            flex-direction: column;
            height: auto;
            width: 100%;
        }
        
        .inner-two {
            flex-direction: column;
            height: auto;
            width: 100%;
            div {
                width: 100%;
                height: min-content;
            }
        }
    }
}