
body {
    display: flex;
    justify-content: center;
    #weather-app {

        width: 100%;
        max-width: 1200px;
        min-width: 200px;
        display: flex;
        flex-direction: column;



        #autocomplete-search {
            width: 100%;
            min-width: 0;
            .wrapper {
                
                .search {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    
                    input {
                        flex: 1;
                        max-width: 300px;
                        min-width: 70px;
                    }
                    button {
                        flex: 1;
                        max-width: 300px;
                        min-width: 70px;
                    }
                }
                .result {
                    #result-box {

                    }
                }
            }
        }
        #weather-output {
            width: 100%;
            .root {
                width: 100%;
                .wrapper {
                    width: 100%;
                    .inner-one {
                        width: 100%;
                        .main-info {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap-reverse;
                            
                            min-width: 0;
                            
                            .main-info-visual {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                flex: 1 1 240px;
                               

                                min-width: 0;
                                
                                img {
                                    max-width: 100%;
                                    
                                    height: auto;
                                    object-fit: contain;
                                }
                            }
                            .main-info-data {
                                flex: 1 1 240px;
                                text-align: right;

                                min-width: 0;
                            }
                        }
                    }
                    .time-line {
                        display: flex;
                        justify-content: space-between;
                        align-items: stretch;
                        position: relative;
                        width: 100%;
                        min-width: 0;
                        overflow-x: auto;
                        overflow-y: hidden;
                        
                        div {              
                            position: relative;
                            flex: 0 0 120px; 
                            min-width: 120px;
                            text-align: center;

                            padding-top: 80px;      //soucasti layout - nehybat!
                            padding-bottom: 0px;    //soucasti layout - nehybat!

                            h4 {
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                white-space: nowrap;
                            }
                            h4:nth-child(1) {
                                top: 2px;
                            }
                            h4:nth-child(2) {
                                top: 20px;
                            }
                            h4:nth-child(3) {
                                bottom: 5px;
                            }
                        }
                        div::before {
                            content: "";
                            position: absolute;
                            top: 60%;
                            left: 0;
                            right: 0;
                            height: 2px;
                        }
                        div::after {
                            content: "";
                            position: absolute; 
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                        }
                    }
                    .time-line::before {
                        content: "";
                        position: absolute;
                        top: 60%;
                        left: 0;
                        right: 0;
                        height: 2px;
                    }
                    .inner-two {
                        display: flex;
                        flex-wrap: nowrap;
                        width: 100%;

                        div {
                            flex: 1;
                            
                        }
                    }
                }
            }
        }
        @media (min-width: 601px) {
            .main-info {
                height: 300px;
            }

            .main-info-visual {
                height: 300px;
            }

            .inner-two {
                justify-content: center;
                align-items: stretch;
                gap: clamp(1px, 3vw, 50px);
                padding-left: 20px;
                padding-right: 20px;
                div {
                    height: 200px;
                    max-width: 150px;
                }
            }
        }
        @media (max-width: 601px) {
            .inner-one {
                .main-info {
                    flex-direction: column-reverse;
                    flex-wrap:unset;
                    
                    height: auto;
                    width: 100%;
                    .main-info-visual {
                        height: auto;
                    }
                }
            }
            .time-line {
               
                
            }
            .inner-two {
                
               
                height: auto;
                width: 100%;

                div {
                    width: 100%;
                    height: min-content;
                }
            }
        }
        @media (max-width: 430px) {

            .inner-two {
                flex-wrap: nowrap;
                overflow-y: hidden;
                overflow-x: auto;
                width: auto;
                
                div {
                    width: auto;
                    flex: 0 0 80px;
                    min-width: 80px;
                    h3:nth-child(1) {
                        display: none;
                    }
                    h2 {
                        display: none;
                    }
                }
            }
        }
    }
}
    