$mainBackground: #EBFFFD;
$innerOneBackground: #ADFBFF;
$innerOneGradient: linear-gradient(53deg,rgba(173, 251, 255, 1) 0%, rgba(207, 255, 232, 1) 60%);
$innerTwoBackgound: #C9F2E0;
$blueDetailColor: #2BC3FF;

$darkBlueColor: #003347;
$lighterDarkBlueColor: #0075A3;
$greyBlueColor: #405A63;
$lighterGreyBlueColor: #658D9A;

$mainFontStyle: "Funnel Sans", sans-serif;
